@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, bady{
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(53, 53, 53);
    color: white;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.281);
    width: 350px;
    padding: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}